/* general layout */
body{
    line-height: 1.3;
    background-color: #F2D7D5;
    font-family: 'Merienda',cursive;
}

/* navbar layout */
header{
   padding:5px;
   background-color: #D4E6F1;
   position:fixed;
   top:0;
   left:0;
   right:0;
   z-index: 1000;
   width:100%
}
#navbar img{
    width:150px;
    height: 150px;
    border-radius: 50%;
    padding:20px;
    margin: 20px;
    display: inline-block;
}
span{
    font-size: 50px;
    display:inline;
    margin-left:20px;
    position: absolute; 
    top:100px;
    color:#7FB3D5
}
li{
    display:inline-block;
    margin-left: 25px;
}
ul{
    padding-top: 150px;
    margin-right: 35px;
    float:right;
    font-size: 35px;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:#7FB3D5;
}
a:active{
    color:grey;
}

/*layout of id home */
#home img{
    width:20%;
    height: 40%;
    padding: 10px;
    margin-right: 80px;
    margin-top: 230px;
    float: right;
    border: #34495E solid 8px;
    border-radius: 7px;
    transform: rotate(7deg);
}
#home p{
font-size: 25px;
display: flex;
justify-content: center;
padding: 20px;
margin-top: 2px;
position: relative;
top:350px;
color:#D98880;
}

/* main layout */
.content{
    width: 100%;
    display:inline-block;
    margin-left: 20px;
    margin-top: 45px;
}
.content h3{
color:#EAF2F8;
font-family: 'Merienda',cursive;
font-size: 40px;
}
.content #work{
    margin-bottom: 20px;
    float:left;
    width:80%;
    padding: 50px;
    height: 500px;
    background-color: #0072bb;
    color:  #D4E6F1;
}
.content img{
   display: inline;
    width:400px;
    height:300px;
    margin: 20px;
}
.content .hrimg{
    margin-left: 15px;
    display: inline;
    width:200px;
    height:100px;
}
.content .work_p{
    display: flex;
}

/* footer layout */
footer{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 25px;
}
